
*{
    box-sizing: border-box;
}

body{
    background-color: #d3927e;
}


.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #d54215;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-left: 25px;
    padding: 20px;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    color:#000000; 
  } 
  a:hover { 
    font-weight: bold;
  } 
  a:active { 
    color:#000000; 
  }

.recipes{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: black;
         
}


.lasagna, .steak, .tacos{
    background-color: #ffffff;
    width: 25%;
    box-shadow: 0 4px 8px 0;
    margin-bottom: 25px;
    margin-left: 25px;
}


.lasagna img, .steak img, .tacos img{
    width:100%;
}

.lasagna-caption, .steak-caption, .tacos-caption{
    text-align: center;
    padding: 10px 20px;
    
}






